<!DOCTYPE html>
<!-- Created by Harsh Prajapati -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz | dot Quiz</title>
    <link rel="stylesheet" href="/stylesheets/output.css">
    <link rel="stylesheet" href="/stylesheets/style.css">


</head>

<body class="bg-[var(--dark-bg)] text-white select-none overflow-x-hidden">

    <!-- -------- Rules ---------- -->
    <div id="rules-wrapper"
        class="fixed top-0 left-0 w-screen h-screen flex justify-center items-center bg-[#ffffff2f] max-mobile:px-4 z-50 flex-col backdrop-blur-md">
        <div id="rules" class=" flex justify-center items-center flex-col bg-[var(--dark-bg)] p-4">
            <ul>
                <li class="text-base max-mobile:text-sm mt-2 ">📌Each question have 4 options.</li>
                <li class="text-base max-mobile:text-sm mt-2 ">📌Every question have a correct option.</li>
                <li class="text-base max-mobile:text-sm mt-2 ">📌Click on the correct opiton.</li>
                <li class="text-base max-mobile:text-sm mt-2 ">📌Click on "next" button for next question and Click on
                    "prev" button for previous question.
                </li>
                <li class="text-base max-mobile:text-sm mt-2 ">📌After attempting all questions click on submit button
                    to submit the quiz.</li>
                <li class="text-base max-mobile:text-sm mt-2 ">📌You have 20 seconds for each question.</li>
                <li class="text-base max-mobile:text-sm mt-2 ">📌The quiz will be submitted after the time is over</li>
                <p class="time text-base max-mobile:text-sm">You have total seconds</p>
            </ul>
            <button type="button" id="start" class="bg-[var(--green)] px-4 py-2 rounded-md mt-4">Start</button>
        </div>
    </div>
    <!-- -------- Rules ---------- -->
    <!-- ------ main starts here ---------  -->
    <main class="w-full flex flex-col justify-center items-center p-10 max-mobile:p-6">
        <header class="w-full flex items-center gap-4 mb-6 justify-between max-mobile:flex-col ">
            <div class="flex items-center gap-4">
                <span class="w-10 h-10 inline-block p-1 bg-[#fffe] rounded-lg">
                    <img src="data:<%= icon.type %>;base64, <%= icon.img.toString('base64') %>" alt="<%= topicname %>"
                        class="w-full h-auto object-contain object-center">
                </span>
                <span class="text-3xl font-extrabold max-mobile:text-xl">
                    <%= topicname %>/<%= set.name %>
                </span>
            </div>
            <div id="timer" class="mr-10">
                <span id="minutes">00</span>
                <span>:</span>
                <span id="seconds">00</span>
            </div>
        </header>

        <div class="question-container w-full">
            <!-- ----------------- Quiz form start -------------- -->
            <form id="quizform" action="/result/<%= set._id %>" method="post" class=" w-full flex flex-col ">

                <div class="questions px-10 max-mobile:p-0">


                    <% questions.forEach((question, index)=>{ %>

                        <!-- ---------- Question --------  -->
                        <div class="question w-full flex bg-[var(--dark-bg)] max-mobile:flex-col">
                            <!-- question para  -->
                            <div class="question-para w-1/2 p-8 max-mobile:w-full max-mobile:px-0">
                                <span class="italic text-[#fffe] text-base max-mobile:text-sm">Question <%= index+1 %>
                                        of <%= questions.length %></span>
                                <p class="text-2xl mt-4 max-mobile:text-base"> <span class="mr-2">
                                        <%= question.id %>.
                                    </span>
                                    <%= question.text %>
                                </p>
                            </div>
                            <!-- question para  -->
                            <!-- options  -->
                            <div
                                class="question-option w-1/2 p-8 flex flex-col gap-2 items-start max-mobile:w-full max-mobile:py-0 max-mobile:text-sm">

                                <% question.options.forEach((option, opitonNumber)=>{ %>

                                    <% let optionVar=["A", "B" , "C" , "D" ]; %>

                                        <input type="radio" name="answer-<%= question.id %>" value="" class="hidden"
                                            checked>
                                        <label
                                            class="inline-block w-full p-4 mt-4 cursor-pointer rounded-lg bg-[#118ab255] border-[1px] border-white has-[input:checked]:bg-[var(--primary-color)] has-[input:checked]:border-none max-mobile:p-2"
                                            for="option-<%= question.id %>-<%= opitonNumber+1 %>">
                                            <span
                                                class=" inline-block text-center mr-2 h-6 w-6 bg-[#fffe] text-[var(--dark-bg)] rounded-md">
                                                <%= optionVar[opitonNumber] %>
                                            </span>
                                            <input type="radio" id="option-<%= question.id %>-<%= opitonNumber+1 %>"
                                                name="answer-<%= question.id %>" value="<%= option %>" class="hidden">
                                            <%= option %>
                                        </label>

                                        <% }) %>

                            </div>
                            <!-- options  -->
                        </div>
                        <!-- ---------- Question --------  -->

                        <% }) %>

                </div>

                <!-- --- Buttons -----  -->
                <div class="buttons w-1/2  flex justify-between px-6 py-4 max-mobile:w-full">
                    <button type="button"
                        class="border-none outline-none px-4 py-2 max-mobile:text-sm rounded-md bg-[var(--light-bg)] cursor-pointer"
                        id="prev">Previous</button>
                    <button type="button"
                        class="border-none outline-none px-4 py-2 max-mobile:text-sm rounded-md bg-[var(--light-bg)] cursor-pointer"
                        id="next">Next</button>
                    <button type="button"
                        class="border-none outline-none px-4 py-2 max-mobile:text-sm rounded-md bg-[var(--primary-color)] cursor-pointer"
                        id="submit">Submit</button>
                </div>
                <!-- --- Buttons -----  -->

                <div id="submit-confirmation" style="display: none;"
                    class="fixed top-0 left-0 w-screen h-screen flex justify-center items-center bg-[#ffffff2f] max-mobile:px-4 z-50 flex-col backdrop-blur-md">
                    <div class="p-4 rounded-md bg-[var(--dark-bg)] flex items-center justify-center flex-col">
                        <p class="text-base max-mobile:text-sm">Are you sure you want to submit this test?</p>
                        <div class="btns flex gap-4 items-center">
                            <button type="button" id="no-btn" class="bg-[var(--red)] px-4 py-2 rounded-md mt-4">No</button>
                            <button type="submit" class="bg-[var(--green)] px-4 py-2 rounded-md mt-4">Yes, Submit</button>
                        </div>
                    </div>
                </div>
                <!-- -------- Rules ---------- -->

            </form>
            <!-- ----------------- Quiz form start -------------- -->
        </div>

    </main>
    <!-- ------ main ends here ---------  -->

    <!-- Footer start here  -->
    <footer class="w-full mt-6 py-4 ">
        <p class="text-base text-center ">Made by <span class="font-semibold italic">DotHp</span> with ❤️</p>
    </footer>
    <!-- Footer ends here -->

    <!-- script  -->
    <script src="/javascripts/quiz.js"></script>
    <!-- script  -->
</body>

</html>