<!DOCTYPE html>
<!-- Created by Harsh Prajapati -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sets | dot Quiz</title>
    <link rel="stylesheet" href="/stylesheets/output.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body class="bg-[var(--dark-bg)] text-white select-none overflow-x-hidden">
    <!-- ------ main starts here ---------  -->
    <main class="p-6">
        <div class="hero-container w-full min-h-[100vh] h-auto flex items-center max-mobile:flex-col max-mobile:gap-4">
            <div class="hero-left w-1/2 h-full flex items-center justify-center max-mobile:w-full">
                <div class="flex flex-col items-start justify-center">
                    <h1 class="text-5xl opacity-50 max-mobile:text-3xl"><span class="font-extrabold"> dot Quiz</span> </h1>
                    <p class="italic text-base mt-6">Pick a set of questions.</p>
                </div>
            </div>
            <div class="hero-right w-1/2 h-full flex justify-center items-center max-mobile:w-full">
                <div class="topic-container flex flex-col gap-4">
                    <% if(sets.length> 0){%>

                        <% sets.forEach((set, index)=>{ %>
                            <!-- set  -->
                            <a href="<%= '/quiz/'+ set.id %>"
                                class="topic w-80 bg-[var(--light-bg)] p-4 flex items-center rounded-lg cursor-pointer"
                                >
                                <span class="inline-block h-10 w-10 bg-white rounded-lg p-1">
                                    <img src="data:<%= icon.type %>; base64, <%= icon.img.toString('base64') %>" alt="<%= set.name %>" class="w-full h-auto object-center object-contain">
                                </span>
                                <h3 class="text-base ml-6">
                                    <%= set.name %>
                                </h3>
                            </a>
                            <!-- set  -->
                            <% })%>
                                <% } else{%>
                                    <p class=" text-base mt-6">There is not test set. Contact the admin to add tests.</p>
                                    <%}%>
                </div>
            </div>
        </div>
    </main>
    <!-- ------ main ends here ---------  -->
    <!-- Footer start here  -->
    <footer class="w-full mt-6 py-4 ">
        <p class="text-base text-center ">Made by <span class="font-semibold italic">DotHp</span> with ❤️</p>
    </footer>
    <!-- Footer ends here -->
</body>

</html>